@{
	Layout = "AdminLayout";
}

<p>post detail</p>

<!-- display the Post in the ViewBag -->
@{
    var post = ViewBag.Post;
}
@if (post != null)
{
    <h1>@post.Title</h1>
    <p>@post.Url</p>
    <p>@post.Id</p>
    <p>Published on: @post.CreatedAt.ToString("MMMM dd, yyyy")</p>

	<form asp-controller="Admin" asp-action="PublishPost" asp-route-id="@post.Id" method="post">
		<button type="submit" class="btn btn-primary m-2">Publish</button>
	</form>
}
else
{
    <p>No post found.</p>
}
