@{
	Layout = "AdminLayout";
}

<p>Submissions</p>

@{
	ViewData["Title"] = "Submissions";
}
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Url</th>
			<th>Submitted By</th>
			<th>Created At</th>		
			<th>Status</th>
		</tr>
	</thead>

    <tbody>
@foreach (var submission in ViewBag.Submissions)
{
	<tr>
		<td>		
			<a href="@Url.Action("EditSubmission", "Admin", new { id = submission.Id })" class="btn btn-primary">Edit</a>
			<a href="@Url.Action("DeleteSubmission", "Admin", new { id = submission.Id })" class="btn btn-danger">Delete</a>
		</td>
	
		<td>@submission.Title</td>
		<td>@submission.Url</td>
		<td>@submission.SubmittedBy</td>
		<td>@submission.CreatedAt.ToShortDateString()</td>
		<td>@submission.Active</td>
	</tr>

}


	</tbody>
</table>